%h2 How Does it Work?
%p
  When you paste an arbitrary URL into Stubbly, it generates a unique identifier. Appending
  that unique identifier to the base URL gives a &ldquo;stubble&rdquo; such as:
%blockquote http://s.urgetopunt.com/YH
%p
  You can also append
  %code .html
  to the stubble to see a page containing information about the original site, including
  the original URL. This can be helpful if you want people to see where they&rsquo;re going before
  they get there.
%blockquote http://s.urgetopunt.com/YH.html
%h2 What Powers Stubbly?
%p
  Besides force of will and a paralyzing inability to interact with other people, Stubbly is powered by
  = link_to('Sinatra', 'http://sinatra.rubyforge.org/') + ','
  = link_to('DataMapper', 'http://datamapper.org/') + ','
  = link_to('Passenger', 'http://www.phusion.nl/')
  and
  = link_to('MySQL', 'http://www.mysql.com/') + '.'
  Stubbly is open source. The source code is available on
  = link_to('Github', 'http://github.com/jparker/stubbly/') + '.'
  