%h2 What is Stubbly?
%p
  Stubbly generates conveniently short aliases for inconveniently
  long URLs.
%h2 Hasn&rsquo;t This Been Done?
%p
  Yes. Here&lsquo;s a few services that are older, wiser and better-looking:
%ul
  %li= link_to 'tinyurl.com', 'http://tinyurl.com/'
  %li= link_to 'rubyurl.com', 'http://rubyurl.com/'
  %li= link_to 'bit.ly', 'http://bit.ly/'
  %li= link_to 'is.gd', 'http://is.gd/'
%h2 What Powers Stubbly?
%ul
  %li= link_to 'Sinatra', 'http://sinatra.rubyforge.org/'
  %li= link_to 'DataMapper', 'http://datamapper.org/'
  %li= link_to 'MySQL', 'http://www.mysql.com/'
  %li= link_to 'Apache', 'http://httpd.apache.org/'
  %li= link_to 'Passenger', 'http://www.phusion.nl/'
%p
  Stubbly is an open source project. The code is publicly available on
  = link_to('Github', 'http://github.com/jparker/stubbly/') + '.'
