!!! XML
!!!
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8'}
    %meta{:name => 'keywords', :content => 'stubbly,short url,url shortener,itsy-bitsy teenie-weenie urls,stubble'}
    %meta{:name => 'description', :content => 'Stubbly is a URL shortener that generates short aliases for long URLs which can be easily pasted into emails, tweets and IMs'}
    %title stubbly &ndash; itsy-bitsy teenie-weenie urls
    = stylesheet_tag '/screen.css'
    = stylesheet_tag '/print.css', :media => 'print'
    /[if IE]
      = stylesheet_tag '/ie.css'
    = stylesheet_tag '/stubbly.css'
  %body
    .container
      #head.span-24
        %h1= link_to 'stubbly &ndash; itsy-bitsy teenie-weenie urls', '/'
        #new-stubble.append-bottom
          %form{:method => 'post', :action => '/'}
            %input{:type => 'text', :name => 'url', :class => 'span-16'}
            %button{:type => 'submit', :class => 'span-4'} Stubblize
      .span-24
        %p.announce
          This is
          %strong alpha-quality
          software and should be trusted as such.
        #body.span-16
          = yield
        #side.span-8.last
          - unless @stubbles.nil? || @stubbles.empty?
            %h2 Recent Stubbles
            %dl
              - @stubbles.each do |stubble|
                %dt= link_to CGI::escapeHTML(truncate(stubble.url, 42)), stubble_path(stubble, :html), :title => 'Click to see preview'
                %dd= stubble.created_at.strftime('%c')
      #foot.span-24
        %p
          an
          = link_to 'urge|to|punt', 'http://urgetopunt.com/'
          technology |
          = link_to 'about', '/about.html'
          |
          = link_to 'terms of service', '/tos.html'
          | &copy;
          = Date.today.year
          John Parker
